* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(144, 231, 199);
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
}

header{
    background-color: rgb(94, 204, 212);
    width: 100%;
}

