table td, table th{
    border: 1px solid #ccc;
    padding: 5px;
}

table {
    border-collapse: collapse;
    width: 800px;
}

table caption{
    caption-side: bottom;
    text-align: left;
    font-style: italic;
    font-size: 14px;
    margin: 5px;
}

tfoot td, table th{
    background-color: #ddd;
}

tfoot td {
    font-style: italic;
}

.responsive-table{
    max-width: 100%;
    overflow-x: auto;
}